body {font-family: 'Source Sans Pro', sans-serif;}
h1, h2, h3, h4, h5, h6 {font-family: 'Open Sans', sans-serif;}
.photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 150px;
    background: #fafafa;
    border: 1px dashed #ececec;
    white-space: normal;
    font-size: 0.9rem;
}
.tiny {
    width: 0;
    height: 0;
}
.photo img {
    width: 100%;
}
.hidden {
    display: none;
}


