body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

.container {
    position: relative;
}

.photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
    background: #fafafa;
    border: 1px dashed #ececec;
    white-space: normal;
    font-size: 0.9rem;
    position: relative;
}

.photo-msg {
    padding: 0 20px;
    cursor: pointer;
}

.tiny {
    width: 0;
    height: 0;
}

.buttons {
    display: flex;
}

.radio {
    font-size: 14px;
    display: flex;
}
.radio label {
    padding-right: 20px;
}
.radio label input {
    margin-right: 10px;
}
.fa {
    cursor: pointer;
}
.fa-camera {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid;

}

.photo img {
    width: 150px;
}

.hidden {
    display: none;
}

#canvas {
    position: absolute;
    left: 15px;
    z-index: 100;
}


